<ion-app>
  <ion-menu contentId="my-content" side="start" menuId="m1">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Torre</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/bio">
            <ion-icon name='person' slot='start'></ion-icon>
            <ion-label>Bio</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/connections">
            <ion-icon name='contacts' slot='start'></ion-icon>
            <ion-label>Connections</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name='Exit' slot='start'></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="my-content"></ion-router-outlet>
</ion-app>