<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title> Connection Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="8">
        <ion-card class="ion-text-center">
          <div class="img-cont">
            <ion-img
              src="https://image.flaticon.com/icons/png/128/924/924874.png"
            ></ion-img>
          </div>

          <ion-card-header>
            <ion-card-title> {{ connection.person.name}} </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>
              Professional Headline: {{ connection.person.professionalHeadline
              }}
            </p>
            <p>Public Id: {{ connection.person.publicId }}</p>
            <div class="img-cont">
              <ion-buttons>
                <ion-button fill="solid" size="small" color="success">
                  <ion-icon slot="start" name="call"></ion-icon>   Call </ion-button
                >
                <ion-button fill="solid" size="small" color="secondary">
                  <ion-icon slot="start" name="mail"></ion-icon>   Send Email </ion-button
                >
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--  <ion-button
    class="ion-margin"
    color="primary"
    [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', place?.id ]"
    >Edit</ion-button
  > -->
</ion-content>
